<h1>Welcome to Puzzles</h1>

<%= link_to 'Add a new Cocktail', new_cocktail_path %>

<% @cocktails.each do |cocktail| %>
  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
  <br>
<% end %>
